<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{titulo}} - Seleccionar empresa</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--<link href="/assets/nprogress/nprogress.css" rel="stylesheet" />
    <link href="/assets/animate.css/animate.min.css" rel="stylesheet" />-->
    <link href="/assets/toastr/toastr.css" rel="stylesheet" />
    <link href="/assets/build/css/custom.css" rel="stylesheet" />
  </head>
  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="frmlogin">
              <h1>Seleccione empresa</h1>
              <div>
                <select id="idEmpresa" name="idEmpresa" class="form-control">
                    <option value="">Cargando...</option>
                </select>
              </div>
              <div>
                <button id="seleccionar" class="btn btn-default">Seleccionar empresa</button>
                <button id="cerrarSesion" class="btn btn-default">Cerrar sesión</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/toastr/toastr.js"></script>
    <script src="/assets/build/js/cotigen.js"></script>
    <script>
      $(document).on("ready", function() {
        $("#seleccionar").attr("disabled", "disabled");
        leerEmpresas();
        $("#seleccionar").on("click", seleccionar_click);
        $("#cerrarSesion").on("click", cerrarSesion_click);
      });

      function seleccionar_click() {
        var svc0 = $.ajax({ 
          type: "POST", 
          url: "/sesion/cambiarempresa", 
          data: { 
            idEmpresa: $("#idEmpresa").val() 
          } 
        });
        svc0.done(function(data, textStatus, jqXHR){
          alert(JSON.stringify(data));
          if (data.ok) {
            toastr.success("Cargando entorno para " + $("#idEmpresa").text(), "", {timeOut: 700});
            setTimeout(function(){ window.location.href = "/inicio" }, 700);
          }
          else {
            toastr.error(ERROR_NO_SERVICIO);
          }
        });
        svc0.fail(function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus);
          toastr.error(ERROR_NO_SERVICIO);
        });
      }

      function cerrarSesion_click(){
            window.location.href = "/sesion/salir";
      }

      function leerEmpresas(){
        var svc0 = $.ajax({type: "GET", url: PREFIJO_SERVICIO + "empresa/list?length=100&start=0&draw=1", cache: false });
        svc0.done(function (data, textStatus, jqXHR) {
          $("#idEmpresa option").remove();
          $.each(data.data, function(i, item) {
              $("#idEmpresa").append(new Option(item.EmpresaAbrev, item.IdEmpresa));
          });
          $("#seleccionar").removeAttr("disabled");
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
          toastr.error(ERROR_NO_SERVICIO);
        });
      }
    </script>
  </body>
</html>